<ion-view view-title="Size">
	<ion-content>
		<div class="size-container">
			<a class="change-coffee" href="#/coffees"><i class="fa fa-chevron-left"></i></a>
			<label class="sub-title">You Selected: {{selCoffee()}}</label>
		</div>
		<h4>Choose Size</h4>
		<div class="size-container">
			<div class="sizeItem">
				<button class="button coffee-button" ng-model="short" ng-value="" ng-click="selectSize('Short', shortPrice);">
				  <i class="fa fa-coffee fa-3x"></i>
				</button>
				<label>Short <br /> {{shortPrice = showPrice('Short')}}</label>
			</div>
			<div class="sizeItem">
				<button class="button coffee-button" ng-model="short" ng-value="" ng-click="selectSize('Tall', tallPrice);">
				  <i class="fa fa-coffee fa-4x"></i>
				</button>
				<label>Tall <br /> {{tallPrice = showPrice('Tall')}}</label>
			</div>
			<div class="sizeItem">
				<button class="button coffee-button" ng-model="short" ng-value="" ng-click="selectSize('Grande', grandPrice);">
				  <i class="fa fa-coffee fa-5x"></i>
				</button>
				<label>Grande <br /> {{grandPrice = showPrice('Grande')}}</label>
			</div>
		</div>
	</ion-content>
</ion-view>